# Firebase Configuration
NUXT_PUBLIC_FIREBASE_API_KEY=your-api-key
NUXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your-auth-domain
NUXT_PUBLIC_FIREBASE_PROJECT_ID=your-project-id
NUXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your-storage-bucket
NUXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
NUXT_PUBLIC_FIREBASE_APP_ID=your-app-id
NUXT_PUBLIC_FIREBASE_DATABASE_URL=your-database-url

# API Configuration
NUXT_PUBLIC_API_BASE_URL=http://localhost:8086/howling-wolf

# Google Analytics (GA4)
NUXT_PUBLIC_GA_MEASUREMENT_ID=
